.active{
    background: #1d4ed8;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f172a;
    position: sticky;
    top: 0;
}

nav .title{
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

nav ul{
    display: flex;
}

nav ul li {
    list-style-type: none;
}

nav ul li a{
    display: block;
    text-decoration: none;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
    color: #fff;
}

nav ul li a:not(.active):hover{
    background: #172554;
}